{{define "nav"}}
{{end}}
{{define "content"}}
<section class="two-factor grid-block grid-full">
  <section class="bar-code grid-block grid-half one-half">
    <img src="data:image/png;base64,{{.User.QR}}" />
  </section>
  <section class="twofactor-code grid-block grid-half one-half">
    <p>Enter Authorization Code from Google Authenticator</p>
    <form class="twofactor-code-form" action="" method="">
      <input type="hidden" name="user_name" value="{{.User.Username}}">
      <input type="hidden" name="user_public_id" value="{{.User.PublicID}}">
      <input type="text" name="userCode" value="" placeholder="GoogleAuth Code">
      <input type="submit" name="submit" value="Submit">
    </form>
  </section>
</section>
{{end}}
{{define "styles"}}
<link rel="stylesheet" href="/static-controllers/twoauth/master.css">
{{end}}
